/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-size: 1.125rem;
}
.uppercase {
    text-transform: uppercase;
}

.section-title {
    color: var(--green);
    font-weight: 700;
    font-size: 3.5rem;
}
/* Buttons  */
.btn {
    border-radius: 0;
    font-size: 1.125rem;
    padding: .75rem 2rem;
    width: fit-content;
}
.btn-outline {
    color: #ffffff;
    border: 2px solid var(--green);
}
.btn-white {
    color: #ffffff;
    border: 2px solid #ffffff;
}
.btn-white:hover {
    background-color: #ffffff;
    color: var(--blue);
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar .container-fluid {
    background-color: var(--blue);
}
.top-bar a {
    text-decoration: none;
    color: #ffffff;
}
.top-bar .contact-top svg {
    width: 40px;
}
.top-bar .social-top a svg {
    height: 20px;
}
.top-bar .social-top .social-divider {
    height: 25px;
    padding: 0 .75rem;
}

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.nav-outer {
    /* background-color: var(--gray); */
}

.navbar-toggler {
    border: none;
}

.site-logo-top svg:first-child {
    width: 12vw;
}
.site-logo-top svg:last-child {
    width: 55vw;
}

#main-nav .active a {
    /* color: #ffffff; */
}

#main-nav a {
    /* text-transform: uppercase; */
    color: var(--blue);
    font-weight: 400;
    transition: all .3s;
}
#main-nav .nav-item:hover a{
    color: var(--gray);
}

#main-nav .nav-item {
    border-bottom: 1px solid var(--gray);
}
#main-nav .nav-item.active {
    background-color: var(--blue);
}
#main-nav .nav-item.active a {
    color: #ffffff;
}
#main-nav .btn {
    font-size: 18px;
}

#main-nav .active .nav-link {
     color: var(--blue);
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}


.navbar ul {
    padding: 0;
}

    .navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

        .navbar-nav .nav-item, .navbar ul li:first-child {
            padding: 1rem calc(var(--bs-gutter-x) * .5);
        }

        .navbar a {
            padding: 0;
        }
        .nav-contact-contain {
            padding: 0 calc(var(--bs-gutter-x) * .5);
        }

.nav-contact a, .nav-contact p {
    color: var(--blue);
    font-size: 1rem;
    text-decoration: none;

}

/* .top-bar {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
} */

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: var(--blue);
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
    background-color: var(--blue);
    /* height: 34vh; */
    position: relative;
}

.hero h1 {
    color: #ffffff;
    font-size: 3.364rem;
    font-size: 3em;
    padding-bottom: 2rem;
}

.hero h1 span {
    color: var(--green);
}

.hero {
    padding-bottom: 12rem;
}

.hero .btn-outline {
    z-index: 900;
}
.hero .btn-outline:hover {
    border: 2px solid var(--green);
    background-color: var(--green);
    color: var(--darkBlue);
}

/* Shapes  */
.hero .shapes-container {
    position: absolute;
    left: 0;
    bottom: -13%;
}
.shapes-container .combined-svg {
    position: relative;
    width: calc(278.64px*.7); 
    height: calc(406.44px*.7); 
}

.shapes-container .combined-svg svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shapes-container .combined-svg .svg-1 {
    left: 0;
    top: 0;
    width: 54.55%;
    height: 82.03%;
}

.shapes-container .combined-svg .svg-2 {
    left: 20.2%;
    top: 24.82%;
    width: 52.61%;
    height: 41.88%;
}

.shapes-container .combined-svg .svg-3 {
    left: 0;
    top: 24.36%;
    width: 100%;
    height: 75.42%;
}

/*--------------------------------------------------------------
# Steps
--------------------------------------------------------------*/
.steps {
    margin-top: 7rem;
    overflow: hidden;
}

.steps .card {
    border-radius: 0;
}
.steps .card-header {
    background-color: var(--blue);
    border-radius: 0;
    position: relative;
}
.steps h3 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 300;
    margin: 2rem 0;
    text-transform: uppercase;
}
.steps .card-header svg {
    width: 3rem;
    position: absolute;
    bottom: -1.5rem;
    margin-left: -0.75rem;
}
.steps .card-body svg {
    width: 7rem;
}
.steps .card-body p {
    font-size: 2rem;
    /* max-width: 80%; */
    text-align: center;
    margin: 2rem 0;
}

.steps .btn-green {
    color: #ffffff;
    font-size: 2rem;
    font-style: italic;
    background-color: var(--green);
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/*--------------------------------------------------------------
# Buy Sell
--------------------------------------------------------------*/
.buy-sell img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* min-height: 350px; */
}

.buy-sell .container-fluid {
    position: relative;
}
.buy-sell .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
}
.buy-sell .circle {
    background-color: var(--blue);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 4px solid var(--blue);
    transition: all .3s;
}
.buy-sell .circle .logo svg:first-of-type {
    width: 60px;
}
.buy-sell .circle .logo svg:last-of-type {
    width: 200px;
}
.buy-sell .circle h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
}
.buy-sell .circle p svg {
    transition: all .3s ease;
}
.buy-sell .circle h2 span, .buy-sell .circle p {
    color: var(--green);
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s;
}
.buy-sell .circle p svg {
    width: 40px;
}
.buy-sell a {
    text-decoration: none;
}

.buy-sell a:hover {
    background-color: var(--darkBlue);
    border-color: var(--green);
}
.buy-sell a:hover h2 span, .buy-sell a:hover p {
    color: #ffffff;
}
.buy-sell a:hover p svg {
    transform: translateX(10px);
}

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

.modal-backdrop {
    background-color: rgba(10, 18, 47, 1)!important;
    opacity: 1;
  }
 
  .modal {
  
    background-color: rgba(10, 18, 47, .8)!important;
    --bs-modal-width: 90%;
  } 
  .video .vid-thumbnail{
    width: 100%;
  }
  .video .vid-thumbnail svg g polyline:first-of-type {
    transition: all .3s;
  }

  
  .video .vid-thumbnail:hover svg g polyline:first-of-type {
    fill: var(--darkBlue)!important;
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .shapes-container {
    position: absolute;
    right: 0;
    bottom: -3rem;
    transform: scaleX(-1);
}
.about-us .container-fluid {
    background-color: var(--blue);
    position: relative;
}
.about-us .shapes-container .combined-svg {
    position: relative;
    width: calc(278.64px*.7); 
    height: calc(406.44px*.7); 
}

.about-us p {
    color: #ffffff;
}

.about-us .btn:hover {
  
   cursor: pointer;
}


/*--------------------------------------------------------------
# Selected Properties
--------------------------------------------------------------*/
.selected-properties .card {
    border-radius: 0;
    border: 3px solid #ffffff;
    transition: all .3s;
}
.selected-properties a {
    color: var(--darkBlue);
    text-decoration: none;
}
.selected-properties a img {
    transition: all .3s;
}
.selected-properties .card-link {
    text-transform: uppercase;
    color: var(--green);
    font-weight: 600;
}
.selected-properties .card-link svg {
    width: 50px;
    transition: all .3s;
}
.selected-properties a:hover.card {
    border: 3px solid var(--green);
    background-color: #ffffff;
    /* background-color: #fafafa; */

}
.selected-properties a:hover .card-link svg {
    transform: translateX(10px);
}
.selected-properties a:hover img {
    opacity: .8;
}

.selected-properties .card-title h3 {
    font-weight: 300;
    font-size: 1.75rem;
}
.selected-properties .card-title p {
    font-size: 1.75rem;
    font-weight: 600;
}
.selected-properties .card-body p {
    font-weight: 300;
    font-size: 1rem;
}

.selected-properties a:hover h3, .selected-properties a:hover p {
    color: var(--green);
}

.selected-properties .btn-green {
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid var(--green);
}
.selected-properties .btn-green:hover {
    background-color: var(--green);
    color: #ffffff;
}
/*--------------------------------------------------------------
# Get In Touch
--------------------------------------------------------------*/
.get-in-touch {
    background-color: var(--blue);
    position: relative;
    padding-bottom: 13rem;
}

/* Shapes  */
.get-in-touch .shapes-container {
    position: absolute;
    left: 0;
    bottom: -13%;
}

.get-in-touch .contact p {
    color: #ffffff;
}

.get-in-touch .contact p:first-of-type {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}


.white-container {
    width: 25%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    left: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    font-size: .875rem;
}

#footer .social-logos a:hover svg g rect {
    fill: var(--black)!important;
}

footer#footer {
    border-top: 2px solid var(--gold);
}
    footer a span {
        color: var(--cyan);
    }

    footer .footer-title {
        font-weight: 400;
    }



    footer a {
        color: var(--black);
        font-size: .875rem;
        text-decoration: none;
        font-weight: 400;
    }

        footer a:hover {
            /* text-decoration: underline; */
            color: var(--goldDarker);
        }

            footer a:hover span {
                color: var(--goldDarker);
            }


.footer-title {
    font-size: 1rem;
    /*font-weight: 500;*/
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;
}
footer .fa-angle-right {
   height: 20px;
}
footer .fa-angle-down {
    width: 20px;
}
footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}

.shfooter .collapse {
    display: inherit;
}

.shfooter i::before {
    color: var(--light);
}


.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer a:hover svg {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards;
}

#footer .social-logos svg {
   width: 30px;
   height: 30px;
   transition: all .3s;
}
#footer .social-logos svg g rect{
   
    transition: all .3s;
 }
#footer h4 {
    font-size: 1rem;
    margin-top: 2rem;
}
@keyframes icons-rise {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translate(2.5px, -2.5px);
    }
}

.social-footer a:hover {
    text-decoration: none;
}

    .social-footer a:hover span {
        text-decoration: underline;
    }

@keyframes arrow-right {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(3px);
    }
}



footer hr:not([size]) {
    height: 1px;
    color: var(--hcs-blue);
    opacity: .8;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
    /* remove this if issue 616 617 */
    display: flex;
    align-items: center;
}

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
}

.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

    .shfooter .collapse.show {
        display: block;
    }

.shfooter .title .fa-angle-down,
.shfooter .title[aria-expanded=true] .fa-angle-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .fa-angle-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}

.sub-footer {
    background-color: var(--black);
    color: var(--gold);
}

footer .container {
    padding-top: 13%;
}