/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    .site-logo-top svg:first-child {
        width: 8vw;
    }
    .site-logo-top svg:last-child {
        width: 36vw;
    }

    /* Hero  */
    .hero {
        height: 46vw;
        position: relative; /* Add position relative to the .hero container */
    }
    .hero-text {
        width: 60%;
    }

    .hero h1 {
        padding-bottom: 3rem;
        font-size: 2.5em;
    }
    
    .hero .image-container {
        position: absolute; /* Change to absolute positioning */
        top: 0;
        right: 0; /* Position the image container at the right of the .hero container */
        width: fit-content;
        overflow: hidden;
        height: 115%;
    }
    
    .hero img {
        display: block;
        width: fit-content;
        height: 100%;
        object-fit: cover;
        object-position: left;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 14% 0%);
        position: relative;
        left: 44vw;
    }
    
    .hero .image-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 42vw;
        width: 100%;
        height: 100%;
        background-color: white;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 14% 0%);
        z-index: 0;
    }
    .hero .shapes-container {
        bottom: -6.5vw;
    }
    .shapes-container .combined-svg {
        width: calc(278.64px*.6); 
        height: calc(406.44px*.6); 
    }

    .steps .btn-green {
       padding-left: 5rem;
       padding-right: 5rem;
       width: unset;
    }
    
    .steps .card-body svg {
        /* width: 30%; */
    }
    
}