/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    .site-logo-top svg:first-child {
        width: 8vw;
    }
    .site-logo-top svg:last-child {
        width: 36vw;
    }

    /* Hero  */
    .hero {
        height: 46vw;
        position: relative;
    }
    .hero-text {
        width: 60%;
    }

    .hero h1 {
        padding-bottom: 3rem;
        font-size: 2.5em;
    }
    
    .hero .image-container {
        position: absolute; /* Change to absolute positioning */
        top: 0;
        right: 0; /* Position the image container at the right of the .hero container */
        width: fit-content;
        overflow: hidden;
        height: 115%;
    }
    
    .hero img {
        display: block;
        width: fit-content;
        height: 100%;
        object-fit: cover;
        object-position: left;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 14% 0%);
        position: relative;
        left: 44vw;
    }
    
    .hero .image-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 42vw;
        width: 100%;
        height: 100%;
        background-color: white;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 14% 0%);
        z-index: 0;
    }
    .hero .shapes-container {
        bottom: -6.5vw;
    }
    .shapes-container .combined-svg {
        width: calc(278.64px*.6); 
        height: calc(406.44px*.6); 
    }

    .steps .btn-green {
       padding-left: 5rem;
       padding-right: 5rem;
       width: unset;
    }
    
    .steps .card-body svg {
        /* width: 30%; */
    }
    
    .img-get-in-touch img {
        position: absolute;
        left: -30px;
        max-width: 50%;
        width: calc(50% - 15px);
        clip-path: polygon(0 100%, 0 0, 100% 0, 86% 100%);
        height: 100%;
        object-fit: cover;
        padding-bottom: 3rem;
    }
 

    .get-in-touch {
        /* padding-bottom: 3rem; */
        padding-bottom: 8rem;
    }

    .img-get-in-touch img:first-of-type {
        left: -10px;
    }
    .img-get-in-touch svg {
        position: absolute;
        left: -263px;
        top: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 0 0, 100% 0, 86% 100%);
    }

     /* Footer - Medium devices */
    
     .shfooter .collapse {
        display: none;
    }
    footer .container {
        padding-top: 1.5rem;
    }


}