/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

     /* Hero  */
     .hero {
        height: 50vw;
        position: relative; /* Add position relative to the .hero container */
    }
    .hero-text {
        width: 65%;
    }

    .hero h1 {
        font-size: 2.7em;
        padding-bottom: 2rem;
        padding-top: 0.75em;
    }
    .hero .btn {
        font-size: 1.25rem;
        margin-top: 15%;
        margin-right: 15%;
    }
    
    .hero .image-container {
        position: absolute; /* Change to absolute positioning */
        top: 0;
        right: 0; /* Position the image container at the right of the .hero container */
        width: fit-content;
        overflow: hidden;
        height: 113%;
    }
    
    .hero img {
        display: block;
        width: fit-content;
        height: 100%;
        object-fit: cover;
        object-position: left;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 14% 0%);
        position: relative;
        left: 48vw;
    }
    
    .hero .image-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 46vw;
        width: 100%;
        height: 100%;
        background-color: white;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 14% 0%);
        z-index: 0;
    }
    .hero .shapes-container {
        bottom: -7.5vw;
    }

    .shapes-container .combined-svg {
        width: calc(278.64px*.9);
        height: calc(406.44px*.9);
    }
    .about-us .shapes-container .combined-svg {
     
        width: calc(278.64px*1.1); 
        height: calc(406.44px*1.1); 
    }

  
    .get-in-touch {
        padding-bottom: 3rem;
    }

    .get-in-touch .shapes-container {
        bottom: calc(-16.5% + 3rem);
    }
}